#include "/home/juho/.colors/sero"


!URxvt.cursorUnderline: true
URxvt.scrollBar: false
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.perl-ext-common: clipboard
!URxvt.font: -misc-termsyn-medium-r-normal--14-101-100-100-c-70-iso8859-1
URxvt.font: -gohu-gohufont-medium-r-normal-*-14-100-100-100-c-80-iso10646-1
!URxvt.font: -gohu-gohufont-medium-r-normal-*-11-80-100-100-c-60-iso10646-1
!URxvt.letterSpace: -2
URxvt.internalBorder: 4

*VT100.colorBDMode:                   true
*VT100.colorBD:                       red
*VT100.colorULMode:                   true
*VT100.colorUL:                       magenta
*VT100.veryBoldColors:                6
